p Quando queremos abrir uma porta trancada, precisamos de uma chave. Para a maioria das pessoas é como se o seu eu-interior estivesse atrás de uma porta trancada. Por isso, raramente elas descobrem quem elas realmente são ou desenvolvem o seu potencial último.
p A chave para descobrir o eu-interior pela numerologia é o <em>Mapa do nascimento</em>. O propósito primário do mapa do mascimento é revelar em uma olhada a fórmula completa de nossas forças e fraquezas.
