h3= t("birth_chart.one.title")
p== t("birth_chart.one.description")
h4== t("birth_chart.one.#{@chart.ones}.title")
- if @chart.ones == 3 && @chart.arrow_of_hypersensitivity?
  p== t("birth_chart.one.3_with_hypersensitivity.description", default: t("birth_chart.one.3_with_hypersensitivity.description_#{@chart.is_female? ? 'female' : 'male'}"))
- else
  p== t("birth_chart.one.#{@chart.ones}.description", default: t("birth_chart.one.#{@chart.ones}.description_#{@chart.is_female? ? 'female' : 'male'}"))
br

h3= t("birth_chart.two.title")
p== t("birth_chart.two.description")
h4== t("birth_chart.two.#{@chart.twos}.title")
p== t("birth_chart.two.#{@chart.twos}.description")
br

h3= t("birth_chart.three.title")
p== t("birth_chart.three.description")
h4== t("birth_chart.three.#{@chart.threes}.title")
p== t("birth_chart.three.#{@chart.threes}.description")
br

h3= t("birth_chart.four.title")
p== t("birth_chart.four.description")
h4== t("birth_chart.four.#{@chart.fours}.title")
p== t("birth_chart.four.#{@chart.fours}.description")
br

h3= t("birth_chart.five.title")
p== t("birth_chart.five.description")
h4== t("birth_chart.five.#{@chart.fives}.title")
p== t("birth_chart.five.#{@chart.fives}.description")
br

h3= t("birth_chart.six.title")
p== t("birth_chart.six.description")
h4== t("birth_chart.six.#{@chart.sixes}.title")
p== t("birth_chart.six.#{@chart.sixes}.description")
br

h3= t("birth_chart.seven.title")
p== t("birth_chart.seven.description")
h4== t("birth_chart.seven.#{@chart.sevens}.title")
p== t("birth_chart.seven.#{@chart.sevens}.description")
br

h3= t("birth_chart.eight.title")
p== t("birth_chart.eight.description")
h4== t("birth_chart.eight.#{@chart.eights}.title")
p== t("birth_chart.eight.#{@chart.eights}.description")
br

h3= t("birth_chart.nine.title")
p== t("birth_chart.nine.description")
h4== t("birth_chart.nine.#{@chart.nines}.title")
p== t("birth_chart.nine.#{@chart.nines}.description")

- if @chart.zeros > 0
  h3= t("birth_chart.zero.title")
  p== t("birth_chart.zero.description")
  h4== t("birth_chart.zero.#{@chart.zeros}.title")
  p== t("birth_chart.zero.#{@chart.zeros}.description")
