h2 Você em poucas palavras
br
p= @chart.birth_chart_text

br
h4 Ficou #{@chart.is_female? ? 'curiosa' : 'curioso'} para saber mais?
br
a.button.large(data-select-tab href="#birth-chart") Comece a se conhecer
