.content
  border-left: 10px solid $navy
  border-right: 10px solid $navy
  background: $beige

.uppercase
  text-transform: uppercase

.margin-top
  margin-top: 1rem

.gentium
  font-family: 'Gentium Book Basic', serif

.no-decoration
  text-decoration: none

.huge
  font-size: 72px
  @include breakpoint(small only)
    font-size: 36px

.button
  text-decoration: none

.login-box
  padding: 0 10px
  margin: 0 auto
  border: none
  background: $beige
  .button
    font-size: 1.25rem
    @include breakpoint(small only)
      font-size: 1rem
  h5
    font-size: 31px
    @include breakpoint(small only)
      font-size: 19px
    margin-bottom: 1rem

.accordion-title
  font-size: 1rem
  text-decoration: none
  &[aria-selected]
    color: $navy

.tabs-title
  a
    text-decoration: none
    &[aria-selected]
      color: $navy

@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

@mixin rotate($deg)
  @include transform(rotate(#{$deg}deg))

@mixin arrow
  .line
    position: absolute
    border-top: 2px solid $dark-beige
  .point
    position: absolute
    color: $dark-beige
    font-size: 2rem
    @include breakpoint(small only)
      font-size: 1rem
    &:after
      content: '➤'
  .text
    position: absolute
    color: $dark-beige
    @include breakpoint(small only)
      display: none

.birth-chart
  position: relative
  margin: 0 auto
  width: 700px
  padding: 40px 200px
  @include breakpoint(small only)
    width: 150px
    padding: 20px 0
  table
    width: auto
    tr
      td
        background: $white
        width: 100px
        height: 100px
        font-size: 2rem
        @include breakpoint(small only)
          width: 50px
          height: 50px
          font-size: 1rem
        border: 1px solid $medium-beige
        padding: 0
        padding-left: 2px
        &:first-child
          border-left: none
        &:last-child
          border-right: none
      &:first-child
        td
          border-top: none
      &:last-child
        td
          border-bottom: none
  .arrow-of-determination, .arrow-of-procrastination
    @include arrow
    .line
      @include rotate(-45)
      position: absolute
      top: 146px
      left: 266px
      width: 380px
      height: 300px
      @include breakpoint(small only)
        top: 73px
        left: 33px
        width: 190px
        height: 150px
    .point
      @include rotate(-45)
      top: 35px
      left: 468px
      @include breakpoint(small only)
        top: 17px
        left: 136px
    .text
      top: 40px
      left: 520px
  .arrow-of-spirituality, .arrow-of-the-enquirer
    @include arrow
    .line
      @include rotate(45)
      position: absolute
      top: 146px
      left: 56px
      width: 380px
      height: 300px
      @include breakpoint(small only)
        top: 73px
        left: -72px
        width: 190px
        height: 150px
    .point
      @include rotate(45)
      top: 298px
      left: 468px
      @include breakpoint(small only)
        top: 149px
        left: 133px
    .text
      top: 320px
      left: 520px
  .arrow-of-the-intellect, .arrow-of-poor-memory
    @include arrow
    .line
      position: absolute
      top: 89px
      left: 216px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 44px
        left: 8px
        width: 134px
        height: 150px
    .point
      top: 66px
      left: 460px
      @include breakpoint(small only)
        top: 33px
        left: 130px
    .text
      top: 78px
      left: 520px
  .arrow-of-emotional-balance, .arrow-of-hypersensitivity
    @include arrow
    .line
      position: absolute
      top: 189px
      left: 216px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 94px
        left: 8px
        width: 134px
        height: 150px
    .point
      top: 166px
      left: 460px
      @include breakpoint(small only)
        top: 83px
        left: 130px
    .text
      top: 178px
      left: 520px
  .arrow-of-practicality, .arrow-of-disorder
    @include arrow
    .line
      position: absolute
      top: 289px
      left: 216px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 144px
        left: 8px
        width: 134px
        height: 150px
    .point
      top: 266px
      left: 460px
      @include breakpoint(small only)
        top: 133px
        left: 130px
    .text
      top: 278px
      left: 520px
  .arrow-of-the-planner
    @include arrow
    .line
      @include rotate(90)
      position: absolute
      top: 40px
      left: -32px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 20px
        left: -115px
        width: 134px
        height: 150px
    .point
      @include rotate(90)
      top: 290px
      left: 236px
      @include breakpoint(small only)
        top: 145px
        left: 18px
    .text
      top: 360px
      left: 110px
  .arrow-of-the-will, .arrow-of-frustration
    @include arrow
    .line
      @include rotate(90)
      position: absolute
      top: 40px
      left: 68px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 20px
        left: -65px
        width: 134px
        height: 150px
    .point
      @include rotate(90)
      top: 290px
      left: 336px
      @include breakpoint(small only)
        top: 145px
        left: 68px
    .text
      top: 360px
      left: 286px
    &.arrow-of-frustration
      .point
        @include rotate(-90)
        top: 44px
        @include breakpoint(small only)
          top: 22px
      .text
        top: 0px
  .arrow-of-activity, .arrow-of-passivity
    @include arrow
    .line
      @include rotate(90)
      position: absolute
      top: 40px
      left: 168px
      width: 268px
      height: 300px
      @include breakpoint(small only)
        top: 20px
        left: -15px
        width: 134px
        height: 150px
    .point
      @include rotate(-90)
      top: 44px
      left: 436px
      @include breakpoint(small only)
        top: 22px
        left: 118px
    .text
      top: 0px
      left: 448px
